<div id="flash">
  <% if flash[:error].present? %>
    <div class="mdc-banner" role="banner" data-controller="flash">
      <div class="mdc-banner__content" role="alertdialog" aria-live="assertive">
        <div class="mdc-banner__graphic-text-wrapper">
          <div class="mdc-banner__text">
            <%= flash[:error] %>
          </div>
        </div>
        <div class="mdc-banner__actions">
          <button type="button" class="mdc-button mdc-banner__primary-action">
            <div class="mdc-button__ripple"></div>
            <div class="mdc-button__label">Close</div>
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>
