<%= form_with model: saving, builder: MaterialFormBuilder, data: { controller: 'material-form' }, id: :form do |f| %>
  <div class="pb-4">
    <%= f.text_field :name %>
  </div>
  <%= f.number_field :amount  %>
  <div class="mdc-dialog__actions">
    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Cancel</span>
    </button>
    <button formnovalidate type="submit" class="mdc-button mdc-dialog__button">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Save</span>
    </button>
  </div>
<% end %>
